
name: Koltin CI with Gradle and Docker


on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: gradle/gradle-build-action@v2
        id: setup-gradle
        with:
          gradle-version: 7.6.3
      - run: gradle clean build -s

      - name: Build and push Docker images
        # You may pin to the exact commit or the version.
        # uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09
        uses: docker/build-push-action@v5.0.0
        with:
          build-args:  -t registry.cn-hangzhou.aliyuncs.com/blane/vxph
          # Path to the Dockerfile
          file: docker/Dockerfile
          # Push is a shorthand for --output=type=registry
          push: # optional, default is false
          # List of tags
          tags: {{github.ref}}

#      - name: Set up Docker
#        uses: docker/setup@v1
#      - name: Docker Login Aliyun
#        run: docker login --username ${{ secrets.ACR_USERNAME }} --password ${{ secrets.ACR_PASSWORD }} registry.cn-hangzhou.aliyuncs.com
#      - name: Build Docker Image
#        run: docker build --file docker/Dockerfile -t registry.cn-hangzhou.aliyuncs.com/blane/vxph:{{github.ref}} .
#      - name: Docker Push Image
#        run: docker push registry.cn-hangzhou.aliyuncs.com/blane/vxph:{{github.ref}}
#
