
name: Koltin CI with Gradle and Docker

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Gradle
        uses: actions/setup-gradle@v1
        with:
          gradle_version: 7.6.3 # 设置Gradle版本
      - name: Build with Gradle
        run: gradle build --stacktrace
      - name: Set up Docker
        uses: docker/setup@v1
      - name: Docker Login Aliyun
        run: docker login --username ${{ secrets.ACR_USERNAME }} --password ${{ secrets.ACR_PASSWORD }} registry.cn-hangzhou.aliyuncs.com
      - name: Build Docker Image
        run: docker build -t registry.cn-hangzhou.aliyuncs.com/blane/vxph:{{github.ref}} .
      - name: Docker Push Image
        run: docker push   registry.cn-hangzhou.aliyuncs.com/blane/vxph:{{github.ref}}



