
name: Koltin CI with Gradle and Docker


on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: gradle/gradle-build-action@v2
        id: setup-gradle
        with:
          gradle-version: 7.6.3
      - run: gradle clean build -s

      - name: Set up Docker
        uses: docker/setup@v1
      - name: Docker Login Aliyun
        run: docker login --username ${{ secrets.ACR_USERNAME }} --password ${{ secrets.ACR_PASSWORD }} registry.cn-hangzhou.aliyuncs.com
      - name: Build Docker Image
        run: docker build --file docker/Dockerfile -t registry.cn-hangzhou.aliyuncs.com/blane/vxph:{{github.ref}} .
      - name: Docker Push Image
        run: docker push registry.cn-hangzhou.aliyuncs.com/blane/vxph:{{github.ref}}

