name: Koltin CI with Gradle and Docker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - run: |
          docker login -u ${{secrets.ACR_USERNAME}} -p ${{secrets.ACR_PASSWORD}} registry.cn-hangzhou.aliyuncs.com
          docker run -v $(pwd):/app registry.cn-hangzhou.aliyuncs.com/blane/gradle:7-6-3
          ls tmp
          docker build -t registry.cn-hangzhou.aliyuncs.com/blane/vxph:${{github.sha}} .
          docker push registry.cn-hangzhou.aliyuncs.com/blane/vxph:${{github.sha}}


