name: Koltin CI with Gradle and Docker

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git Pull Current Branch
        uses: actions/checkout@v4

      - name: Set JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
        id: setup-gradle
        with:
          gradle-version: 7.6.3
      - name: Gradle Clean Build
        run: gradle clean build -s

      - name: Docker Login Build Push
        uses: docker/setup-buildx-action@v3
      - run: |
          docker login -u ${{secrets.ACR_USERNAME}} -p ${{secrets.ACR_PASSWORD}} registry.cn-hangzhou.aliyuncs.com
          docker build -t registry.cn-hangzhou.aliyuncs.com/blane/vxph:${{github.sha}} .
          docker push registry.cn-hangzhou.aliyuncs.com/blane/vxph:${{github.sha}}
